/*
* Cascading style sheet for shiwaforce
*
* TABLE OF CONTENTS
*
* 0. Reset CSS, HTML formats
* 1. Header, navigation
* 2. Main content block, body
* 3. Elements, plugins, icons
* 4. Footer
*/

/* 0. Reset CSS, HTML formats*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{

	--header-black:#1c1c1c;
	--main-titles-color:#ffffff;
	--bg-color:#cdcdcd;
	--main-titles-font: 'Cambo', serif;
	}

body{
	font-size: 12px;
	font-family: arial;
}

/* 1. Header, navigation*/

.nav{
	position: absolute;
	min-height: 20%;
    background: var(--header-black);
    width: 100%;
}
.logo{
	color: var(--main-titles-color);
    float: left;
    margin: 5% 0 0 10%;
}
span.main-logo-text{
	font-family: var(--main-titles-font);
    font-size: 45px;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.29);
}
span.sub-logo-text{
	color: #828282;
    position: relative;
    display: block;
    font-family: arial;
    font-size: 12px;
}
.searchbox-container{
	float: right;
	margin: 2% 10% 0 0;
}
.searchbox-container input[type="text"]{
	background: var(--header-black);
    border: 1px solid #2c2c2c;
    padding: 7px;
    color:white;
}
.searchBtn{
	background: #3e3e3e;
    border: none;
    color: #fff;
    padding: 7px;
    border-radius: 6px;
}

#header{
	position: absolute;
    top: 20%;
    height: 70%;
    width: 100%;
    overflow: hidden;
}
.header-bg{
	background: url(../images/background-header.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}
.bannertext{
	position: absolute;
    width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 100%;
}
span.header-bg-main-title{
	font-size: 45px;
    color: var(--main-titles-color);
    font-family: var(--main-titles-font);
    margin-top: 30%;
    right: 0px;
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: auto;
    height: auto;
    padding: 10px 40px 10px 50px;
}
span.header-bg-subtitle{}

/* 2. Main content block, body*/
.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.box-container{}
.box{}
.box:hover{}
.flare{}

.greybox{}
p.greybox-text{}

.bottom-icon-bar{}

/* 3. Elements, plugins, icons*/
.bottom-icon-bar{}
/* 4. Footer */
footer{}